[flake8]

builtins = _

# Print the total number of errors:
count = true

# Don't even try to analyze these:
# Feel free to add as needed, flake8 has no automatic way
# to leverage the gitignore file
extend-exclude =
  # Cache files of MyPy
  .mypy_cache,
  # Cache files of pytest
  .pytest_cache,
  # Occasional virtualenv dir
  .venv
  # VS Code
  .vscode,
  # Adjacent venv
  venv

# IMPORTANT: avoid using ignore option, always use extend-ignore instead
# Completely and unconditionally ignore the following errors:
extend-ignore =
  # Safeguard neutering of flake8-quotes : https://github.com/zheller/flake8-quotes/issues/105
  Q,
  # annoy black by allowing white space before : https://github.com/psf/black/issues/315
  E203,
  # duplicate of pylint W0611 (unused-import)
  F401,
  # duplicate of pylint E0602 (undefined-variable)
  F821,
  # duplicate of pylint W0612 (unused-variable)
  F841,

# Resonable compromise:
max-line-length = 100

# Allow certain violations in certain files:
# Please keep both sections of this list sorted, as it will be easier for others to find and add entries in the future
per-file-ignores =
  # The following ignores have been researched and should be considered permanent
  # each should be preceeded with an explanation of each of the error codes
  # If other ignores are added for a specific file in the section following this,
  # these will need to be added to that line as well.

  # EX000: Example don't do this
  # scripts/example.py EX000

  # The following were present during the initial implementation.
  # They are expected to be fixed and unignored over time.

  # EX000: Example don't do this
  # scripts/example.py EX000

# Count the number of occurrences of each error/warning code and print a report:
statistics = true
