name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: null

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.1
  self-ansible-lint:
    uses: ./.github/workflows/ansible_lint.yaml
  self-build-import:
    uses: ./.github/workflows/build_import.yaml
  self-sanity:
    uses: ./.github/workflows/sanity.yaml
  self-unit:
    uses: ./.github/workflows/unit.yaml
  self-integration:
    uses: ./.github/workflows/integration.yaml

  check:
    if: always()
    permissions:
      id-token: write
      checks: read
    runs-on: ubuntu-latest
    needs:
      - lint
      - self-ansible-lint
      - self-build-import
      - self-sanity
      - self-unit
      - self-integration
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
