---
name: Ansible sanity

"on":
  workflow_call:
    inputs:
      extra_matrix_entries:
        required: false
        type: string
jobs:
  tox-matrix:
    name: Matrix Sanity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: "${{github.event.pull_request.head.ref}}"
          repository: "${{ github.event.pull_request.head.repo.full_name }}"
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: "Install tox-ansible, includes tox"
        run: "python -m pip install tox-ansible"
      - name: "Check for tox-ansible.ini file, else add default"
        uses: ansible/ansible-content-actions/.github/actions/add_tox_ansible@main
      - name: Generate matrix
        id: generate-matrix
        run: >
          python -m tox --ansible --gh-matrix --matrix-scope sanity --conf
          tox-ansible.ini
      - name: Merge matrix with extra entries
        id: merge-matrix
        run: |
          echo "Generated matrix: ${{ steps.generate-matrix.outputs.envlist }}"
          echo "Extra matrix: ${{ inputs.extra_matrix_entries }}"

          merged=$(
            jq -c -n \
              --argjson a '${{ steps.generate-matrix.outputs.envlist }}' \
              --argjson b '${{ inputs.extra_matrix_entries || '[]' }}' \
              '$a + $b'
          )
          echo "Merged matrix: $merged"
          echo "envlist=$merged" >> "$GITHUB_OUTPUT"
    outputs:
      envlist: "${{ steps.merge-matrix.outputs.envlist }}"
  test:
    needs: tox-matrix
    strategy:
      fail-fast: false
      matrix:
        entry: "${{ fromJson(needs.tox-matrix.outputs.envlist) }}"
    name: "${{ matrix.entry.name }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: "${{ github.event.pull_request.head.sha }}"
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.entry.python }}"
      - name: "Install tox-ansible, includes tox"
        run: python -m pip install tox-ansible
      - name: "Check for tox-ansible.ini file, else add default"
        uses: ansible/ansible-content-actions/.github/actions/add_tox_ansible@main
      - name: Run tox sanity tests
        run: >-
          python -m tox --ansible -e ${{ matrix.entry.name }} --conf
          tox-ansible.ini
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
